<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompanyDao">
    <select id="getCompanyList" parameterType="map" resultType="company">
        SELECT C.RECRUITMENT_ID
              , C.USER_ID
              , C.COMPANY_NAME
              , C.COMPANY_ICON_URL
              , C.RECRUITMENT_URL
              , C.RECRUITMENT_TITLE
              , C.DDAY
              , C.REGDATE
              , C.MODDATE
              , C.LOCATION
              , C.CAREER
              , C.EDUCATION
              , (CASE WHEN RBU.USER_ID IS NOT NULL THEN 1 ELSE 0 END) AS BOOKMARKED
             FROM RECRUITMENT C
              LEFT JOIN (
                 SELECT RECRUITMENT_ID, USER_ID
                 FROM RECRUITMENT_BOOKMARK
                 WHERE USER_ID = #{loginUser.user_id}
             ) RBU ON C.RECRUITMENT_ID = RBU.RECRUITMENT_ID
             ORDER BY C.RECRUITMENT_ID DESC
            LIMIT #{cri.amount} OFFSET #{cri.startNum}
    </select>

    <select id="getCompanyTotalCnt" parameterType="map" resultType="int">
        SELECT COUNT(*)
            FROM RECRUITMENT
    </select>

    <insert id="bookmarkCompany" parameterType="map">
        INSERT INTO RECRUITMENT_BOOKMARK(
            USER_ID,
            RECRUITMENT_ID
        ) VALUES (
                     #{loginUser.user_id},
                     #{recruitment_id}
                 )
    </insert>

    <delete id="unBookmarkCompany" parameterType="map">
        DELETE FROM RECRUITMENT_BOOKMARK
        WHERE USER_ID = #{loginUser.user_id}
          AND RECRUITMENT_ID = #{recruitment_id}
    </delete>


</mapper>