<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CssDao">
    <insert id="insertCss" parameterType="css">
        INSERT INTO CSS (PORTFOLIO_ID, CSS_URL) VALUES (#{portfolio_id}, #{css_url})
    </insert>
</mapper>