
<mapper namespace="com.bit.devops12.poro.mapper.PortfolioMapper">
    <insert id="insertPortfolio" useGeneratedKeys="true" keyProperty="portfolioId">
        INSERT INTO portfolio (USER_ID, PORTFOLIO_URL, THUMBNAIL_URL, DESCRIPTION, REGDATE, MODDATE)
        VALUES (#{userId}, #{portfolioUrl}, #{thumbnailUrl}, #{description}, NOW(), NOW())
    </insert>
</mapper>